{% extends 'base.html' %}

{% block content %}
  <main>
    <h1>Write</h1>
    <form action="/write" method="post" style="display: flex; flex-direction: column; width:30%">
      <input style="margin:1rem; height:2rem" type="text" name="title" placeholder="Title">
      <textarea style="margin:1rem; height:15rem" name="content" placeholder="Body"></textarea>
      <input style="margin:1rem; height:2rem" type="date" name="date" value="{{ today }}">
      <input style="margin:1rem; height:2rem" type="submit" value="Submit">
    </form>
  </main>
{% endblock %}